body{
  margin: 0;
  padding: 0;
  height: 100vh;
}
button{
  background-color: transparent;
  outline: none;
  padding: 0;
  margin: 0;
  border: none;
}
.clearfix::after{
  content: '';
  display: table;
  clear: both;
}
#_2048-content{
  width: 600px;
  height: 400px;
  position: relative;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  #menu{
    width: 200px;
    text-align: left;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    .game-button{
      box-sizing: content-box;
      display: block;
      height: 40px;
      width: 120px;
      font-size: 20px;
      font-weight: 800;
      border: 5px solid rgb(168, 168, 168);
      line-height:1;
      padding: 0 20px;
      border-radius: 10px;
      background-color: rgb(247, 100, 33);
      color: rgb(255, 255, 255);
      font-family: '微软雅黑';
      cursor: pointer;
    }
    #score-box{
      display: block;
      margin-top: 15px;
      margin-left: 18px;
      line-height: 1;
      align-self: flex-start;
      font-size: 18px; 
    }
  }
  #content-right{
    // background-color: black;
    width: 240+45+30px;
    height: $width;
    position: relative;
  }
  .items-base{
    width: 240+45px;
    height: $width;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // align-items: center;
    align-content: space-between;
    // padding: 10px;
    border-radius: 5px;
    border: 15px solid #b9aea2;
    background-color: #b9aea2;
    .items{
      width: 60px;
      height: $width;
      background-color:#cac1b4;
      border-radius: 5px;
      //初始块颜色
      color: #766f66;
      font-size: 24px;
      text-align: center;
      line-height: $height;
      font-weight: 800;     
    
    }
  }
  #items-true:extend(#_2048-content .items-base){
    position: absolute;
    background-color: transparent;
    top: 0;
    left: 0;
    display: block;
    .items:extend(#_2048-content .items-base .items){
      opacity: 1;
      position: absolute;
      //设置子元素的过渡动画
      transition: all 0.3s linear;
    };
  };

}